.root {
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);

  background: var(--variant-bg);
  color: var(--variant-text);
  border: 1px solid var(--variant-border);

  cursor: pointer;

  transition:
    background .2s,
    color .2s,
    border-color .2s;
}